/* --- --- */

:root {
  /* --- Main Colors --- */
  --fp-blue: rgb(65, 89, 133);
  --fp-yellow: rgb(229, 189, 58);
  --fp-black: rgb(58, 58, 58);
  /*  */
  --fp-nat-blue: rgb(69, 118, 162);
  --fp-grey: rgb(188, 204, 213);

  /* --- Color Hues --- */
  --fp-blue-lighter-100: #eaffff;
  --fp-blue-lighter-75: #c0d6e1;
  --fp-blue-lighter-50: #96acc2;
  --fp-blue-lighter-25: #6b83a4;
  --fp-blue-darker-25: #31436e;
  --fp-blue-darker-50: #212d58;
  --fp-blue-darker-75: #101641;
  --fp-blue-darker-100: #00002a;

  --fp-yellow-lighter-100: #fffb78;
  --fp-yellow-lighter-75: #f9ec69;
  --fp-yellow-lighter-50: #f2dc59;
  --fp-yellow-lighter-25: #eccd4a;
  --fp-yellow-darker-25: #b78e2c;
  --fp-yellow-darker-50: #885f1d;
  --fp-yellow-darker-75: #5a2f0f;
  --fp-yellow-darker-100: #2b0000;

  /* --- Size --- */
  --triangle-size: 100px;
}

html,
body {
  overflow: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--fp-grey);
  color: var(--fp-black);
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

/* --- Background colors theme blue --- */

.bg-fp-lighter-blue-100 {
  background-color: var(--fp-blue-lighter-100);
}

.bg-fp-lighter-blue-75 {
  background-color: var(--fp-blue-lighter-75);
}

.bg-fp-lighter-blue-50 {
  background-color: var(--fp-blue-lighter-50);
}

.bg-fp-lighter-blue-25 {
  background-color: var(--fp-blue-lighter-25);
}

.bg-fp-blue {
  background-color: var(--fp-blue);
}

.bg-fp-darker-blue-25 {
  background-color: var(--fp-blue-darker-25);
}

.bg-fp-darker-blue-50 {
  background-color: var(--fp-blue-darker-50);
}

.bg-fp-darker-blue-75 {
  background-color: var(--fp-blue-darker-75);
}

.bg-fp-darker-blue-100 {
  background-color: var(--fp-blue-darker-100);
}

/* --- background color theme yellow --- */

.bg-fp-lighter-yellow-100 {
  background-color: var(--fp-yellow-lighter-100);
}

.bg-fp-lighter-yellow-75 {
  background-color: var(--fp-yellow-lighter-75);
}

.bg-fp-lighter-yellow-50 {
  background-color: var(--fp-yellow-lighter-50);
}

.bg-fp-lighter-yellow-25 {
  background-color: var(--fp-yellow-lighter-25);
}

.bg-fp-yellow {
  background-color: var(--fp-yellow);
}

.bg-fp-darker-yellow-25 {
  background-color: var(--fp-yellow-darker-25);
}

.bg-fp-darker-yellow-50 {
  background-color: var(--fp-yellow-darker-50);
}

.bg-fp-darker-yellow-75 {
  background-color: var(--fp-yellow-darker-75);
}

.bg-fp-darker-yellow-100 {
  background-color: var(--fp-yellow-darker-100);
}

/* --- text color theme blue --- */

.text-fp-lighter-blue-100 {
  color: var(--fp-blue-lighter-100);
}

.text-fp-lighter-blue-75 {
  color: var(--fp-blue-lighter-75);
}

.text-fp-lighter-blue-50 {
  color: var(--fp-blue-lighter-50);
}

.text-fp-lighter-blue-25 {
  color: var(--fp-blue-lighter-25);
}

.text-fp-blue {
  color: var(--fp-blue);
}

.text-fp-darker-blue-25 {
  color: var(--fp-blue-darker-25);
}

.text-fp-darker-blue-50 {
  color: var(--fp-blue-darker-50);
}

.text-fp-darker-blue-75 {
  color: var(--fp-blue-darker-75);
}

.text-fp-darker-blue-100 {
  color: var(--fp-blue-darker-100);
}

/* --- text color theme yellow --- */

.text-fp-lighter-yellow-100 {
  color: var(--fp-yellow-lighter-100);
}

.text-fp-lighter-yellow-75 {
  color: var(--fp-yellow-lighter-75);
}

.text-fp-lighter-yellow-50 {
  color: var(--fp-yellow-lighter-50);
}

.text-fp-lighter-yellow-25 {
  color: var(--fp-yellow-lighter-25);
}

.text-fp-yellow {
  color: var(--fp-yellow);
}

.text-fp-darker-yellow-25 {
  color: var(--fp-yellow-darker-25);
}

.text-fp-darker-yellow-50 {
  color: var(--fp-yellow-darker-50);
}

.text-fp-darker-yellow-75 {
  color: var(--fp-yellow-darker-75);
}

.text-fp-darker-yellow-100 {
  color: var(--fp-yellow-darker-100);
}

/* --- --- */

.scroll-image {
  width: 100%;
}

/* --- --- */

.layer {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* --- --- */

.triangle-topleft {
  width: 0;
  height: 0;
  border-top: var(--triangle-size) solid var(--fp-blue);
  border-right: var(--triangle-size) solid transparent;
}

.triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: var(--triangle-size) solid var(--fp-yellow);
  border-left: var(--triangle-size) solid transparent;
}

.sidebar {
  width: 250px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background-color: var(--fp-blue-lighter-100);
}
